@tailwind base;
@tailwind components;
@tailwind utilities;


//header
.text-logo {
    text-shadow: 
        1px 1px 1px black, 
        2px 2px 1px black,
        3px 3px 1px black, 
        4px 4px 1px black,
        4px 4px 1px black;
}

.subs-wrapper::-webkit-scrollbar {
    width: 20px;
    height: 20px;
}

.subs-wrapper::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #fff;
}

.subs-wrapper::-webkit-scrollbar-thumb {
    
    border: 3px solid #f6f7ed;
    @apply bg-red-600 rounded-full;
}

.subs-wrapper::-webkit-scrollbar-thumb:hover {
    @apply bg-red-600 border-black;
}

//Menu
.menu-btn span {
    background: #000;
    border-radius:10px;
    height: 3px;
    margin: 3px 10px;
    transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.menu-btn.clicked {
    .line1 {
        transform-origin:bottom;
        transform:rotatez(45deg) translate(3px, 0px);
    }
    .line2 {
        transform-origin:bottom;
        transform:rotatez(-45deg) translate(0px, 1px);
        @media (min-width: 640px) {
        width: 95%;
        }
    }
    .line3 {
        transform-origin:bottom;
        transform:rotatez(45deg) translate(2px, -9px);
        @media (min-width: 640px) {
        transform:rotatez(45deg) translate(3px, -8px);
        }
    }
}